html {
  font-size: 62.5%;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #f8f5e2;
  color-adjust: exact !important;
  font-family: georgia, "MS PGothic", Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact !important;
}

@media only screen and (max-width: 120rem) {
  body {
    color-adjust: exact !important;
    font-family: georgia, "MS PGothic", Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', Helvetica, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    padding: 0;
    page-break-after: auto;
    -webkit-print-color-adjust: exact !important;
    size: portrait;
  }
}

@-moz-document url-prefix() {
  html {
    font-size: 62.5%;
    line-height: 1.6;
  }
  body {
    background: #f8f5e2;
    color-adjust: exact !important;
    font-family: 'georgia', 'MS PGothic', Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', Helvetica, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    page-break-after: auto !important;
    -webkit-print-color-adjust: exact;
    size: portrait;
  }
  .menu {
    border-bottom: .05rem solid #c5b8bb;
    border-top: .05rem solid #c5b8bb;
  }
  .menu li {
    border-left: .05rem solid #c5b8bb;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: exact;
    page-break-inside: exact;
  }
  table,
  pre {
    border: .1rem solid #000;
    border-collapse: collapse;
    font-size: 100%;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    page-break-inside: exact;
    width: 100%;
  }
  tr {
    border-bottom: .1rem solid #554447;
  }
  th {
    background: #e0e7ec;
    border-right: .1rem solid #554447;
    color: #554447;
    font-weight: normal;
    padding: .4rem;
    text-align: left;
    white-space: nowrap;
    width: 10%;
  }
  ul,
  ol,
  dl {
    page-break-before: exact;
  }
  .menu {
    border: .05rem solid #c5b8bb;
  }
  .menu li {
    border: .05rem solid #c5b8bb;
  }
}

@media print {
  body {
    background: #f8f5e2;
    color-adjust: exact;
    font-family: 'georgia', 'MS PGothic', Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', Helvetica, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    page-break-after: auto !important;
    -webkit-print-color-adjust: exact;
    size: portrait;
  }
}


/************************************************hearder*****************************************************/

header,
.content-page,
.body-content {
  min-width: 76.8rem;
}

#header-inner {
  background-color: #fff;
  margin: auto;
  max-width: 120rem;
}

.logo {
  padding: 3rem 0 0 1rem;
}

nav {
  background: #ddd;
  border: .05rem solid #c5b8bb;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  margin: auto;
}

nav ul {
  color: #554447;
  /* max-width: 1200px; */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  font-family: georgia;
  font-size: 1.6rem;
  font-weight: 600;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

nav li {
  border-left: .05rem solid #c5b8bb;
  color: #554447;
  list-style-type: none;
  margin: 0;
  padding: 1.8rem 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

nav li a {
  color: #554447;
  display: block;
  text-decoration: none;
}

nav ul nav.show a,
nav ul .menu-a.active {
  background-color: #f9e4c9;
  display: block;
}

nav ul li:hover,
nav ul li:visited:hover {
  background-color: #f9e4c9;
  display: block;
  list-style: none;
  text-decoration: none;
}

nav ul li a:hover {
  color: #554447;
  display: block;
  text-decoration: none;
}


/************************************************banner*****************************************************/

.banner {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  min-height: 30rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.banner-title {
  color: #fff;
  /* font-family: SF Pro Display; */
  font-size: 1.6rem;
  font-weight: bold;
  left: 3%;
  max-width: 36rem;
  opacity: 1;
  padding-top: 3.5rem;
  position: relative;
  text-align: left;
  /* -webkit-text-stroke: .1rem #554447; */
}

.banner-title p {
  color: #fff;
  text-shadow: -.1rem 0#554447, 0 .1rem#554447, .1rem 0#554447, 0 -.1rem #554447;
}


/***********************************************content******************************************************/

.container {
  background: #fff;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 116rem;
  padding: 2rem;
  position: relative;
  text-align: left;
  top: -2.5rem;
  z-index: 1000;
}

.column-left-home {
  margin: 0;
  padding: 0;
  width: 60%;
}

.column-content {
  border-bottom: dotted .1rem #999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 1.5rem 0;
  /* padding-bottom: 15px; */
  padding-left: 0;
  text-decoration: none;
  width: 100%;
}

.column-content a {
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.column-content a p {
  color: #554447;
  display: contents;
  font-size: 1.6rem;
  font-weight: bold;
}

.column-content span {
  background-color: #554447;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  padding: .4rem .7rem;
  text-align: center;
  width: 8rem;
}

.column-content img {
  padding-right: 1rem;
}

.column-title {
  font-size: 1.4rem;
  margin: .8rem 0;
}

.column-right-home {
  line-height: 1.5;
  margin: 0;
  padding-left: 4rem;
  width: 40%;
}

.information {
  background-color: #1ba8bd;
  border-bottom-style: double;
  border-color: #0f899c;
  border-top-style: double;
  color: #fff;
  font-size: 1.4rem;
  list-style: none;
  padding: .2rem 0;
  text-decoration: none;
}

.information a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.bulletin-home {
  margin: 0;
  padding: 0;
}

.bulletin-home li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0;
}

.bulletin-home li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.bulletin-home li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}


/***********************************************information******************************************************/

.banner-info {
  background-image: url(../images/subbanner-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.banner-title-info {
  color: #000;
  font-family: Meiryo;
  font-size: 2rem;
  /* font-weight: bold; */
  opacity: 1;
  padding-top: 8rem;
  position: relative;
  text-align: right;
  width: 95%;
  /* -webkit-text-stroke: .1rem #000; */
}

.banner-title-info p {
  color: #000;
  text-shadow: -.1rem 0#576d7a, 0 .1rem#576d7a, .1rem 0#576d7a, 0 -.1rem #576d7a;
}

.breadcrumbs {
  color: #554447;
  font-size: 1.4rem;
}

.breadcrumbs a {
  color: #0072bc;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.item-title {
  background: #1ba8bd;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: .6rem .6rem;
}

.item-title a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  padding-right: .5rem;
  text-decoration: none;
}

.item-title h2 {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  margin: 0;
  text-decoration: none
}

.itemInfo {
  font-size: 1.4rem;
  text-align: right;
}

.itemBody p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 2.2rem 0;
}

.itemBody a {
  color: #0072bc;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
}

.itemBody a:hover {
  text-decoration: underline;
}

.information a {
  background-color: #1ba8bd;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.bulletin,
.right-sidebar {
  margin: 0;
  padding: 0;
}

.bulletin li,
.right-sidebar li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0 .4rem 1rem;
}

.bulletin li span,
.right-sidebar li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.bulletin li a,
.right-sidebar li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}


/***********************************************about******************************************************/

.banner-about {
  background-image: url(../images/about_asjy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.column-left {
  margin: 0;
  padding: 0;
  width: 70%;
}

h1 {
  border-bottom: solid .2rem #606060;
  border-top: solid .2rem #606060;
  color: #606060;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.0em;
  margin-top: .5rem;
  padding: 1rem .4rem;
}

h2 {
  background: #606060;
  border: solid .2rem #909090;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 1.0em 0;
  padding: 0 .4rem;
}

ul.about-text {
  font-size: 1.4rem;
  margin: 1.0em 0;
  margin-left: 1.5rem;
  padding: 0;
  padding-left: 1.5rem;
  text-align: left;
}

.pico_body p {
  font-size: 1.4rem;
}

.link-page{
  border-top: dotted .1rem #ddd;
  margin-top: 2rem;
}

.next {
  float: right;
  font-size: 1.4rem;
  padding: .6rem .4rem;
  text-align: right;
  width: 48%;
}

.column-right {
  /* line-height: 1.5; */
  margin: 0;
  padding-left: 4rem;
  width: 30%;
}

.blockTitle {
  border-bottom: solid .1rem #808080;
  border-top: solid .3rem #808080;
  color: #505050;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: .4rem 0;
}


/***********************************************membership******************************************************/

.banner-membership {
  background-image: url(../images/about_asjy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.top-user {
  background: #F8F5E2;
  margin-bottom: 1rem;
  padding: 1rem;
}

.prev {
  float: left;
  font-size: 1.4rem;
  padding: .6rem .4rem;
  width: 48%;
}

.content-subpage p{
  font-size: 1.4rem;
  margin: 1.6em 0;
}

/***********************************************list******************************************************/

.banner-list {
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.column-left-list {
  margin: auto;
  padding: 0;
  width: 84rem;
}

#centercolumn table {
  font-size: 100%;
}

table {
  border: .1rem solid #000;
  border-collapse: collapse;
  font-size: 100%;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

th {
  background: #e0e7ec;
  border-right: .1rem solid #554447;
  color: #554447;
  font-weight: normal;
  padding: .4rem;
  text-align: left;
  white-space: nowrap;
  width: 10%;
}

tr {
  border-bottom: .1rem solid #554447;
}

table td {
  color: #554447;
  padding: .4rem;
}

.pico_body p {
  font-size: 1.4rem;
  margin: 1.6em 0;
}

.pico_body p.caption {
  color: #554447;
  margin: 0;
  padding: .5rem 0;
  text-align: left;
}


/************************************************autism*****************************************************/

.banner-autism {
  background-image: url(../images/about_autism.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}


/************************************************form-mail*****************************************************/

.mailform dt {
  border-top: dotted .1rem #ddd;
  float: left;
  padding: .6rem 1rem;
  width: 17em;
}

#signupForm {
  border-top: dotted .1rem #ddd;
  /* border-bottom: dotted .1rem #ddd; */
}

.mailform dd {
  border-left: solid .3rem #ddd;
  border-top: dotted .1rem #ddd;
  margin-left: 18em;
  padding: .6rem 1.5rem;
}

.mailform textarea,
input {
  border: .1rem solid #aaa;
  outline: none;
  padding: 0.2em;
}

input {
  font-size: 1.4rem;
}

.mailform input[type=checkbox] {
  margin-right: 1rem;
}

form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}

form.cmxform label.error {
  color: red;
  width: 34rem;
}

form.cmxform input.submit {
  font-size: 1.4rem;
  margin-left: 8.5rem;
}

.mailform {
  border-bottom: dotted .1rem #ddd;
  font-size: 100%;
  font-size: 1.4rem;
}


/************************************************error-mail*****************************************************/

.mailerror {
  background-color: #ffcccc;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem;
}

.mailresult {
  border: solid .1rem #ddd;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem;
}

.error-text {
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
}

input {
  border: .1rem solid #aaa;
  font-size: 1.4rem;
  padding: 0.2em;
}


/************************************************checkmail*****************************************************/

.checkmail {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.checkbox-agree {
  font-size: 1.4rem;
}


/***********************************************footer******************************************************/

footer {
  background: #f38400;
  border-top: solid 2rem #fff;
  color: #fff;
  font-size: 1.4rem;
  justify-content: space-around;
  margin: auto;
  margin-top: -7rem;
  max-width: 120rem;
  min-width: 76.8rem;
  padding: 4rem 0 1rem 0;
  text-align: center;
}

.footerinfo p {
  margin-top: 0;
  padding-left: 2rem;
  text-align: left;
}